@import './variables.scss';
.float-right {
  float: right;
}
.float-left {
  float: left;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.mtop-8 {
  margin-top: $top8 !important;
}
.captalize{
  text-transform: capitalize;
}
