.container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 8%;
}
.side-list{
  list-style: none;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
 /* styles for mobile browsers smaller than 480px; (iPhone) */
 .container{
  margin-left: 0%;
  margin-right: 0%;
}
}
@media only screen and (device-width: 768px) {
 /* default iPad screens */
 .container{
  margin-left: 0%;
  margin-right: 0%;
}
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .container{
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
.container{
  margin-left: 0%;
  margin-right: 0%;
}
}
